footer {
    font-size: 95%;
    background: rgba(0, 0, 0, .1);
    background-color: transparent;
    font-weight: 300;

    border-top: 1px solid #ddd;

    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
}

#copyright {
	text-align: center;
    margin-bottom: 2em;
    font-size: 80%;
    color:#999;
    margin-bottom: 0 !important;
}