header, footer, main {
    width:100%;
}

header, footer {
    padding-right: 72px;
    padding-left: 72px;
}

@media screen and (min-width: 1200px) {
    .two-thirds {
         width: calc(100% / 3 * 2);
    }
}

main {
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
}

main, footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

main.nostretch {
    -webkit-box-align: start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start;
}

main {
    width: 100%;
    /*max-width: 1300px;*/
    max-width: 1000px;
}

section {
    -webkit-box-flex:2;
        -ms-flex:2;
            flex:2;
}

section.even {
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
}

aside {
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
}