header {
    background: #030303;
    background: transparent;
    padding-left: 16.67%;
    padding-right: 16.67%;

    /*padding-left: calc((100% - 1300px)/2);
    padding-right: calc((100% - 1300px)/2);*/

    padding-left: calc((100% - 1000px)/2);
    padding-right: calc((100% - 1000px)/2);


    min-height: 3em;
    display: flex;
    align-items: center;

    border-bottom: 1px solid #ddd;
}

header img#logo {
	height: 2em;
	border-radius: 50%;
	-webkit-margin-end: 2em;
	display: none;
}

header img#show-menu,
header img#hide-menu {
	cursor: pointer;
	height: 1em;
	display: none;
}

header #logout {
	float:right;
}

header ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1
}

header ul li {
	display: inline-block;
	-webkit-margin-end: 2em;
	color: #999;
	color: #888;
}

header ul li:last-child {
	-webkit-margin-end: 0;
}

header ul li a {
	color: #ccc;
	color: #36c;
}

header ul li a:hover {
	color: #eee;
	color: #c63;
}

#menu {
	display: flex;
	width: 100%;
	padding: 1em 0;
	align-items: center;
	justify-content: space-between;
}

#menu h1 {
	display: none;
	margin-bottom: 0;
	color:#000;
	font-size: 24px;
	flex-grow: 1;
	margin-left: 1em;
	margin-right: 1em;
}

#menu h1 a {
	color: #36c;
	text-decoration: underline;
}