.hreno {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	grid-column-gap: 10px;
	grid-row-gap: 20px;
	justify-items: center;
}

.hreno-thumbnail {
	border: none !important;
	height: 250px;
	width: 250px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.hreno-thumbnail p {
	text-align: center;
}

.hreno-thumbnail img {
	box-shadow: 0 .25em .5em 0 rgba(0,0,0,.5);
	box-shadow: 0 .15em .40em 0 rgba(0, 0, 0, .5);
}

img.hrenotive {
	-ms-flex-item-align: center;
	    align-self: center;
	max-width: 100%;
}

.hidden-hrenotive a {
	color:red;
}

.hidden-hrenotive img {
	-webkit-filter:grayscale(100%);
	        filter:grayscale(100%);
}