body {
	font-family:sans-serif;
}

#content-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.col {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

input {
	margin-bottom:2em;
	height: 3em;
	border-radius: 4px;
	border: 1px transparent solid;
}

input.error-field {
	border: 1px red solid;
}

button {
	background: cornflowerblue;
	color:white;
	padding: .5em 1em;
	border-radius: 4px;
	border: 1px transparent solid;
	font-size: 1em;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

button:hover {
	background: royalblue;
}

.error-message,
.success-message {
	text-align: center;
	padding: 1em 0;
}

.error-message {
	border: 1px solid red;
	color: red;
	background: #f9b5af;
}

.success-message {
	border: 1px solid green;
	color: green;
	background: #d1f9da;	
}

.error-message ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#sign-up, #sign-in {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	padding: 1em;
	margin: .5em;
	border: 1px solid transparent;
	border-radius: 4px;
	-ms-flex-preferred-size: 300px;
	    flex-basis: 300px;
}

#sign-up {
	border: 1px solid #ccc;
}

#sign-up input {
	border-color: #ccc;
}

#sign-in {
	background-color: steelblue;
	color: white;
}