html {
	-webkit-text-size-adjust: none;
}

body {
	font-size: 16px !important;
}

main {
	width: 100% !important;
	padding-top: 20px
}


main, header, footer {
	padding-right: 1.5em;
	padding-left: 1.5em;
}

footer {
	padding-top: 20px;
	padding-bottom: 20px;
}

#home-logo-wrapper {
	margin-top: 0 !important;
}

#home-logo-wrapper img {
	height: 100px !important;
	width: 100px !important;
}

.title-home-link {
	display: none;
}

.post-body,
aside,
.post-body,
.epigraph,
#comments blockquote,
.hyphenated {
	text-align: left;
	text-align: start;
}

main.blog {
	background: white;
}

.post {
	padding: 0;
	margin-bottom: 3em;
	border: 0;
}

h2 {
	font-size: 40px !important;
}

h2.post-title {
	font-size: 25px !important;
}

h3.post-title,
h3.journeys-sub-heading {
	font-size: 20px !important;
}

date.post-date {
	margin-bottom: 20px;
	text-align: center;
}

h3.year {
	display: block;
	float: none;
	font-size: 1.5em;
	text-align: center;
}

.long-list li:not(#mobile-menu li) {
	margin-bottom: 1em;
}

#mobile-menu-link {
    display: inline-block;
}

.outdoors-li {
	margin-bottom: 0;
}

.outdoors-li .full-month {
	margin-bottom: 0;
	margin-top: .5em;
	display: block;
}

.full-month {
	padding-left: 0 !important;
	padding-right: 0 !important;
}