header.mobile {
	height: auto;
	align-items: center;
	justify-content: center;
}

header ul {
	display: none;
}

header.mobile ul {
	flex-direction: column;
	display: flex;
}

header.mobile ul li {
	margin-right: 0;
	margin-bottom: .5em;
	font-size: 1.25em;
}

header img#show-menu {
	display: block;
}

header.mobile img#show-menu {
	display: none;
}

header.mobile img#hide-menu {
	display: block;
	align-self: flex-end;
}

header.mobile img#logo {
	display: none;
}

header.mobile #menu {
	justify-content: center;
	flex-direction: column-reverse;
	padding: 1.5em 0;
}

main h1 {
	display: none !important;
}

header #menu h1 {
	display: inline-block !important;
}

header.mobile #menu h1 {
	display: none !important;
}

header #menu img#logo {
	-webkit-margin-end: 0;
}

/**/

main:not(.hreno) {
    flex-direction: column;
}

main:not(.hreno).reverse,
main:not(.hreno) div.reverse {
    flex-direction: column-reverse;
    justify-content: flex-end;
}

section:not(main.reverse section):not(:last-child),
section:not(div.reverse section):not(:last-child),
main.reverse aside,
div.reverse aside {
    margin-bottom: 3em;
}

section, aside {
	flex:0;
	flex-basis: auto;
}