ins.slideshow {
    display: inline-block;
}

    ins.slideshow ins {
        position: relative;
        float: left;
        clear: left;
        cursor: pointer;
    }

        ins.slideshow ins ins {
            position: absolute;
            right: 7px;
            top: 15px;
            z-index: 9999;
        }

            ins.slideshow ins ins ins {
                position: static;
                background: transparent url('/images/icons/slideshow.gif') 0 0 no-repeat;
                height: 18px;
                width: 18px;
                float: left;
                margin: 0 3px 3px 0;
            }

                ins.slideshow ins ins ins.selected {
                    background-position: -18px 0;
                }